.training-button {
  height: 6vw;
  width: 35vw;
  border-radius: 15px;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 3px 6px #888888;
  margin: 10px;
  color: #006989;
  font-family: arial;
  font-size: 1.1em;
  font-weight: bold;
  padding: 10px;
  letter-spacing: -1.1px;
}

.training-body {
  display: flex;
  flex-direction: column;
}

.training-container {
  display: flex;
  width: 90vw;
  height: auto;
  background-color: rgb(169, 190, 199);
  border-radius: 20px;
  padding: 15px;
  align-self: center;
  box-shadow: 0 3px 6px #888888;
  flex-wrap: wrap;
  justify-content: center;
}

.training-container-inner-top {
  width: 85vw;
  height: auto;
  padding: 2vw;
  background-color: white;
  border-radius: 20px;
  justify-self: center;
  margin: 0 auto;
  box-shadow: 0 3px 6px #888888;
}

.training-container-inner-bottom {
  width: 75vw;
  background-color: white;
  justify-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.training-card {
  width: 150px;
  height: 150px;
  margin: 15px;
  padding: 15px;
  background-color: rgb(251, 249, 249);
  border-radius: 20px;
  box-shadow: 0 3px 6px #888888;
}

.training-card:hover {
  width: 153px;
  height: 153px;
  font-size: 1.3em;
  box-shadow: 0 15px 15px #c2c0c0;
  transition: .3s;
}

.date-select {
  height: 5vw;
  box-shadow: 0 1px 6px #888888;
  padding: 0 15px;
  font-family: arial;
  margin: 0 0 30px 0;
}

.info {
  margin: 2px;
  color: #006989;
  font-size: 20px;
  font-weight: 400;
}

.date {
  font-size: 16px;
  font-weight: 700;
  color: #006989;
  margin: 0px 0px 20px 0px;
}

.history-title {
  font-family: arial;
  font-size: 30px;
  color: rgb(152, 194, 207);
  font-weight: 400;
  align-self: center;
  padding: 0;
  letter-spacing: -1.1px;
}