.footer {
  height: 180px;
  width: 100vw;
  background-image: linear-gradient(to top right, rgba(0, 53, 69, .92), rgba(0, 105, 137, .69));
  display: flex;
  position: relative;
  bottom: 0;
  margin: 30px 0 0 0;
}

.link-list {
  list-style: none;
  color: white;
  text-align: right;
}

.link-container {
  width: 95vw;
  display: flex;
  justify-content: flex-end;
}

.footer-links {
  margin: 25px;
}