// $o-bgColor-- : #;
// $o-bgColor--000000 : #000000;
// $o-bgColor--a3bac3 : #a3bac3;
// $o-bgColor--ffffff : #ffffff;
// $o-bgColor--01a7c2 : #01a7c2;
// $o-fColor--eaebed : #eaebed;
// $o-fColor--ffffff : #ffffff;
// $o-fColor--a3bac3 : #a3bac3;
// $o-fColor--006989 : #006989;
// $o-fColor--5e5e64 : #5e5e64;
// $o-fSize--18 : 18px;
// $o-fSize--20 : 20px;
// $o-fSize--22 : 22px;
// $o-fSize--23 : 23px;
// $o-fSize--25 : 25px;
// $o-fSize--28 : 28px;
// $o-fSize--30 : 30px;
$logo : 35px;
// $o-fSize--36 : 36px;
// $o-fSize--44 : 44px;
// $o-fSize--80 : 80px;
// $o-fFamily : "Arial","Farah"

.header {
  height: 60px;
  width: 100vw;
  background-image: linear-gradient(to bottom right, rgba(0, 53, 69, .92), rgba(0, 105, 137, .69));
  display: flex;
  padding: 15px;

  .logo {
    font-size: $logo;
    justify-self: flex-start;
    align-self: center;
    color: white;
    letter-spacing: -1px;
    .logo-thin {
      font-weight: 300;
    }
    .logo-thick {
      font-weight: 600;
    }
  }

  .burger-display {
    display: flex;
  }
  .desktop-display {
    display: none;

  @media (min-width: 560px) {
    .burger-display {
      display: none;
    }
    .desktop-display {
      display: flex;
      align-self: center;
    }
    
  }
}
}